<h3><%=l(:re_extension_label_my_new_issues)%></h3>
<% assigned_issues = Issue.find(:all, 
                                :conditions => ["status_id=1 AND assigned_to_id=? AND #{IssueStatus.table_name}.is_closed=? AND #{Project.table_name}.status=#{Project::STATUS_ACTIVE}", user.id, false],
                                :include => [ :status, :project, :tracker, :priority ], 
                                :order => "#{Enumeration.table_name}.position DESC, #{Issue.table_name}.due_date") %>
<%= render :partial => 'issues/list_simple_with_duedate', :locals => { :issues => assigned_issues } %>
